.cabecalho{
    height: 150px;
    width: auto;
    background-color: #000080;
    border-top: 10px;
    color: white;
    align-items: center;
    justify-content:center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    padding: 0%;
}
.subcabecalho{   
    height: 40px;
    width: auto;
    background-color: black;
    display: flex;
    color: white;
    justify-content: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

main{
    
}
body{
background-color: #e6e6e6;
margin: 0;

}
.container {
  border: 2px solid rgb(170, 150, 123);
  border-radius: 5px;
  background-color: rgb(65, 50, 50);
  width: 400px;
  padding: 5px;
  align-items: baseline;
  align-content: baseline;
}




.item {
  height: 220px;
  width: 220px;
  background-color: rgb(151, 145, 145);
  border: 1px solid rgb(128, 88, 48);
  border-radius: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
    align-content: center;
    font-size: xx-large;
}


.containe2{
    display: inline flow-root;
    align-items: center;
    align-content: center;
  
}

 section{
    width: 1000px;
    min-height: 200px;
    background-color: ghostwhite;
    margin: 20px auto;
    padding: 20px;
}



main{
    
}
body{


}
.bloco-teste{
    width: 800px;
    height: 30px;
    margin: 0 auto;
    background-color: #000080;
    display: block;
    border: 10px  black;
    text-align: center;
    border-radius: 10px;
    color: ghostwhite ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bloco-teste1{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    background-color: #000080;
    border: 10px  black;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.bloco-teste2{
    display: inline;
    margin: 10px;
    padding: 10px;
    background-color: #000080;
    color: white;
    border-radius: 10px;
}
.bloco-teste3{
    display: flex;
    height: 60px;
    width: 100px;
    background-color: #000080;
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 10px ;
    border-radius: 10px;
}
.bloco-teste4{
    display: inline-flex;
    height: 60px;
    width: 100px;
    background-color: #000080;
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
}
.gk{
    width: 800px;
    margin: 0 auto;
}
.gç{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.gl{ 
    width: 800px;
    margin: 20px auto;
    text-align: center;
}
.gp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.go{
    text-align: center;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}